html, body{
    background-color: rgb(206, 206, 206);
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: whitesmoke;
    font-size: 50px;
     background-color: #34495e;
     text-align: center;
     border-radius: 10px;
}
hr{
    margin-top: 0px;
 }
 h3{
    color: #34495e;
    text-align: center;
    font-size: 40px;
 }
 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 img{
    border-radius: 10px;
   margin-left: 30%;
 }
 li{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}